modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 5000
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "5000"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/dashboard"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/dashboard run dev"
cwd = "./artifacts/dashboard"
waitForPort = 22030
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "22030"
BASE_PATH = "/"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/dashboard"

[[workflows.workflow]]
name = "artifacts/dashboard: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/dashboard"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/dashboard run dev"
cwd = "./artifacts/dashboard"
waitForPort = 22030
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "22030"
BASE_PATH = "/"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXT_PUBLIC_RPC_URL = "https://rpc.meechain.live"
NEXT_PUBLIC_API_URL = "https://api.meechain.live"
NEXT_CHAINID = "13390"
NEXT_CHAIN_NAME = "MeeChain Network"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001

[[ports]]
localPort = 5000
externalPort = 8080

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22030
externalPort = 3001
